@import "styles/_variable";

.item {
    width: 2rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .1rem;
    cursor: pointer;

    font-weight: 700;
    color: $black;
    font-size: .875rem;
    border-radius: 1rem;

    @media (min-width: 700px) {
        width: 3.5rem;
        height: 2.5rem;

        font-size: 1.25rem;
    }

    @media (min-width: 1200px) {
        width: 2rem;
        height: 2rem;
        border-radius: .25rem;

        font-size: 1rem;
    }
}

.item--active {
    background-color: #fff;
}