@import 'styles/variable';
@import 'styles/breakpoints';

.section-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 3rem;

    &__order {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: flex-start;
        justify-content: center;
        z-index: 1000;

        @media (min-width: 1200px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
}